[Unit]
Description=Snake Dance

[Service]
Type=simple
ExecStart=/home/sina/projects/snake/venv/bin/python -m snake.main
Environment=PYTHONUNBUFFERED=1
Restart=on-failure

[Install]
WantedBy=default.target
